<div class="popup-form" id="popupForm">
    <div class="popup-content">
        <span class="close" onclick="closeForm()">×</span>
        <form id="foodForm" action="">
            <input type="text" name="food" id="food" placeholder="Enter food">
            <input type="number" name="calories" id="calories" placeholder="Enter calories">
            <input type="number" name="amount" id="amount" placeholder="Enter amount">
            <button type="submit">Add</button>
        </form>
    </div>
</div>